<html>
<head>
    <style type="text/css">
        table {
            font-size: 100%;
        }
    </style>
    <script th:src="@{/js/ovi/LoadLanguage.js}"></script>
    <script th:src="@{/js/ovi/themeswitchertool.js}"></script>
    <script th:src="@{/js/ovi/ui.panel.min.js}"></script>
    <link href="../static/css/ovi/ui.panel.css" th:href="@{/css/ovi/ui.panel.css}" rel="stylesheet"/>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.cssButton').button();

        });

       
    </script>

  

</head>

<body>
    <br><br>
    <div id="panel2" class="panel ui-helper-reset ui-widget ui-panel" style="width: 45%;height: 10%;margin-bottom: 10px;" role="panel">
        <h3 class="ui-helper-reset ui-widget-header ui-panel-header ui-corner-top">
            <div class="ui-panel-title">
                <span class="ui-panel-title-text" name="lblSessTimeout">DICOM SERVER</span>
            </div>
        </h3>
        <div class="ui-helper-reset ui-widget-content ui-panel-content ui-corner-bottom" style="display: block;">
            <div class="ui-panel-content-text" id="panel2_content">
                <table style="width: 100%;">
                    <tbody>
                    	<tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Description</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">AE Title</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Host Name</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Port</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Retrieve Type</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Retrieve Type</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                        </tr>	
                        <tr>
                            <td style="width: 40%"><span class="ui-widget-content" style="border:none;" name="lblSessTimeout">Session timeout</span></td>
                            <td align="right" style="width:40%"><input type="text" size="10" id="timeoutTF"></td>
                            <td colspan="1" align="right" style="width:20%"><button id="saveTimeout" class="cssButton">Update</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
   
    
</body>

</html>