<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg" id="test">
    <div class="wrapper wrapper-content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>治疗任务</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <tbody>
                                    <tr>
                                        <td>患者数</td>
                                        <td>0个</td>
                                    </tr>
                                    <tr>
                                        <td>已完成治疗</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>未完成治疗</td>
                                        <td>0%</td>
                                    </tr>
                                    <tr>
                                        <td>治疗中</td>
                                        <td>0%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>内存</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>内存</th>
                                        <th>JVM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>总内存</td>
                                        <td >0GB</td>
                                        <td >0MB</td>
                                    </tr>
                                    <tr>
                                        <td>已用内存</td>
                                        <td >0GB</td>
                                        <td >0MB</td>
                                    </tr>
                                    <tr>
                                        <td>剩余内存</td>
                                        <td >0GB</td>
                                        <td>0MB</td>
                                    </tr>
                                    <tr>
                                        <td>使用率</td>
                                        <td></td>
                                        <td ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>服务器信息</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover margin bottom">
                                        <tbody>
                                            <tr>
                                                <td>服务器名称</td>
                                                <td >ciTreat</td>
                                                <td>操作系统</td>
                                                <td >Linux</td>
                                            </tr>
                                            <tr>
                                                <td>服务器IP</td>
                                                <td >127.0.0.1</td>
                                                <td>系统架构</td>
                                                <td>amd64</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</body>
<div th:include="include :: footer"></div>
<script>
   
</script>
</html>
